<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./restaurant.css">
    <link rel="stylesheet" type="text/css" href="./scrollbar.css">
    <link rel="shortcut icon" href="#">
    <title>JOURNEY - 음식점 보기</title>
</head>
<body>
    <div>
        <div class="navigator">
            <h2 class="journey"><a href="/">JOURNEY - 비건생활</a></h2>
            <div class="container">
                <div class="title">
                    <a class="collect" href="/recipe/enrollment">레시피 등록하기</a>
                </div>
                <div class="title">
                    <a class="collect" href="/recipe/graph">비건통계 확인하기</a>
                </div>
                <div class="title">
                    <a class="collect" href="/recipe">레시피 보기</a>
                </div>
                <div class="title">
                    <a class="collect" href="/">메인페이지로</a>
                </div>
            </div>
            <div class="account" id="account">
                <vegan-component></vegan-component>
                <account-component></account-component>
            </div>
        </div>
    </div>
    <div class="enroll_map" id="enroll_map">
        <h2>음식점 등록</h2>
        <h4>음식점 상호명을 입력해주세요.</h4>
        <input id="rest_name" size="30" type="text" placeholder="여기에 상호명을 입력해주세요.">
        <h4>음식점 영업 연락처를 입력해주세요</h4>
        <input id="phone" size="30" type="tel" placeholder="여기에 연락처를 입력해주세요.">
        <h4>음식점 주소를 상세히 입력해주세요.</h4>
        <input id="address" size="30" type="text" placeholder="여기에 주소를 입력해주세요."><br>
        <div class="btn">
            <button type="button" id="ok_btn" class="btn btn-primary btn-sm">등록하기</button>
            <button type="button" class="btn btn-secondary btn-sm" id="clean_btn">취소하기</button>
        </div>
    </div>
    <div class="mapList">
        <h3>비건 관련 음식점 찾기</h3>
        <div class="overlay" id="overlay"></div>
        <button class="enroll_btn" id="enroll_btn">식당등록</button>
        <button class="search_btn" id="search_btn">반경늘리기</button>
        <button class="keyword_btn" id="keyword_btn">키워드검색</button>
        <div class="data" id="data">
            <div class="found" id="notfound">
                <span class="notFound" id="message">반경내의 검색결과가 없습니다.</span>
            </div>
        </div>
    </div>
    <div class="rest">
        <div id="map" class="map"></div>
    </div>
    <div class="contention">
        <script type="text/javascript" id="api"></script>
        <script src="./vegan/restaurant/restaurant_client.js" type="module"></script>
        <script src="./vegan/restaurant/modules/get_map.js" type="module"></script>
    </div>
</div>
</body>
</html>