.diet_input {
  text-align: center;
}

.diet_input h1 {
  font-weight: bold;
  margin-top: 10%;
}

.diet_input .diet {
  text-indent: 20px;
  font-weight: 900;
  font-size: 25px;
  height: 60px;
  margin-top: 3%;
  border-radius: 10px;
  outline: none;
}

.radio_input {
  margin-top: 3%;
  margin-left: 45%;
  display: flex;
}

.radio_input .no_radio {
  margin-left: 3%;
}

.vm_radio {
  margin-top: 3%;
}

.ma_radio,
.mi_radio,
.sm_radio,
.vs_radio,
.self_radio {
  margin-top: 1%;
}

.diet_input input {
  outline: none;
  width: 30px;
  height: 30px;
}

.diet_input label {
  font-weight: 900;
  font-size: 30px;
}

.diet_btn,
.check_diet_btn {
  margin-left: 65%;
  margin-top: 1%;
}

.diet_btn button,
.check_diet_btn button {
  font-weight: 900;
}
