@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ELAND_Choice_B";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ELAND_Nice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Y_Spotlight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 미디어 쿼리 반응형 처리.
/* 스마트폰 가로+세로 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* 스마트폰 가로 */
@media only screen and (min-width: 321px) {
  .journey {
    font-family: "ELAND_Nice_M";
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
    margin-right: -250px;
  }
}

/* 스마트폰 세로 */
@media only screen and (max-width: 320px) {
}

/* 데스크탑 브라우저 가로 */
@media only screen and (min-width: 1224px) {
  .journey {
    font-family: "ELAND_Nice_M";
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
    margin-right: -850px;
  }
}

/* 큰 모니터 */
@media only screen and (min-width: 1824px) {
  .journey {
    font-family: "ELAND_Nice_M";
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
    margin-right: -1850px;
  }
}

body {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  background-color: #f8f9fa;
}

.hide_page {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 90;
}

.navigator a {
  text-decoration: none;
  color: black;
}

.navigator a:visited {
  text-decoration: none;
  color: black;
}

.navigator a:hover {
  color: violet;
  text-decoration: none;
}

div {
  font-family: "IBMPlexSansKR-Regular";
}

.account {
  font-family: "ELAND_Choice_B";
  font-size: 19px;
  padding-right: 100px;
}

.vegan_info {
  position: absolute;
  margin-left: -13%;
  margin-top: 0.6%;
  font-weight: 900;
  font-size: 15px;
}

.fa-circle {
  color: green;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.vegan_data {
  position: absolute;
  margin-left: -13.5%;
  margin-top: 0.6%;
  font-weight: 900;
  font-size: 15px;
}

.fa-circle {
  color: green;
}

.navigator {
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid #d2d7dd;
}

.contianer {
  display: flex;
}

.mapList {
  position: absolute;
  margin-left: 2%;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.7);
  width: 30.2vh;
  height: 40vw;
  z-index: 99;
  overflow: scroll;
}

.mapList a {
  outline: none;
  text-decoration: none;
  color: black;
}

.mapList h3 {
  text-align: center;
  padding-top: 2%;
  font-weight: bold;
  font-size: 20px;
}

.list {
  width: 29.1vh;
  height: 5vw;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 1%;
}

#name {
  font-weight: 900;
}

.rest {
  float: right;
  z-index: 1;
}

.overlay {
  padding-left: 2%;
  font-weight: bold;
  color: blue;
  z-index: 99;
}

.map {
  width: 204vh;
  height: 46.4vw;
}

.title {
  float: right;
  padding: 10px;
}

.title:hover {
  border-bottom: 0.4px solid black;
}
