@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSansKR-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 미디어 쿼리 반응형 처리.
/* 스마트폰 가로+세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
}

 /* 스마트폰 가로 */
@media only screen and (min-width : 321px) {
    .s-class {
        font-family: 'ELAND_Nice_M';
        font-size: 25px;
        margin-left: 30px;
        margin-top: 10px;
        display: inline-block;
        margin-right: -250px;
    }
}

 /* 스마트폰 세로 */
@media only screen and (max-width : 320px) {
}

/* 데스크탑 브라우저 가로 */
@media only screen and (min-width : 1224px) {
    .euler {
        font-family: 'ELAND_Nice_M';
        font-size: 25px;
        margin-left: 30px;
        margin-top: 10px;
        display: inline-block;
        margin-right: -850px;
    }
}

/* 큰 모니터 */
@media only screen and (min-width : 1824px) {
    .euler {
        font-family: 'ELAND_Nice_M';
        font-size: 25px;
        margin-left: 30px;
        margin-top: 10px;
        display: inline-block;
        margin-right: -1650px;
    }
}

body {
    background-color: #0e0e10;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white; 
    text-decoration: none;
}

a:hover {
    color: violet;
    text-decoration: none;
}
  
div {
    font-family: "IBMPlexSansKR-Regular";
}

.account {
    font-family: 'ELAND_Choice_B';
    font-size: 19px;
    padding-right: 100px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #18181b;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    font-weight: 900;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #3e3e474b;}

.dropdown:hover .dropdown-content {
    display: block;
}

.login {
    font-family: 'GmarketSansBold'; 
}

.singup {
    padding-left: 10px;
    font-family: 'GmarketSansBold';
}

.navigator {
    background-color: #18181b;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid #18181b;
}
  
.contianer {
    display: flex;
}
  
.title {
    float: right;
    padding: 10px;
}

.title:hover {
    border-bottom: 0.4px solid black;
}

.search_bar_contention {
    position: absolute;
    margin-left: 38.7%;
}

.search_bar {
    background-color: #464649;
    border: 2px solid #464649;
    outline: none;
    font-weight: 900;
    border-radius: 5px 0 0 5px;
    height: 40px;
}

.search_bar::placeholder {
    color: rgb(190, 178, 178);
}

.search_bar:focus {
    color: white;
    animation-name: search_bar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.search_icon {
    position: absolute;
    background-color: #3a3a3d;
    margin-left: 58%;
    width: 45px;
    height: 40px;
    border-radius: 0 5px 5px 0;
}

.fa-search {
    color: white;
    font-size: 25px;
    margin-left: 25%;
    margin-top: 15%;
}

.search_icon:hover {
    background-color: #464649;
    cursor:not-allowed;
}

.search_result {
    margin-top: 5%;
}

.head, span {
    color: white;
}

.footer {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 907px;
}

@keyframes search_bar {
    30% {
        background-color: black;
        border: 2px solid blue;
    }
    50% {
        background-color: black;
        border: 2px solid blue;
    }
    99% {
        background-color: black;
        border: 2px solid blue;
    }
    100% {
        background-color: black;
        border: 2px solid blue;
    }
}